Django==1.4.1
awscli==1.11.29
backports.ssl-match-hostname==3.4.0.2
boto==2.42.0
botocore==1.4.86
click==6.7
colorama==0.2.5
docutils==0.11
ecdsa==0.11
Flask==0.12.1
futures==3.0.3
iniparse==0.3.1
itsdangerous==0.24
Jinja2==2.7.2
jmespath==0.9.0
jsonpatch==1.2
jsonpointer==1.0
kitchen==1.1.1
lockfile==0.8
MarkupSafe==0.11
oauthlib==2.0.2
paramiko==1.15.1
ply==3.4
pyasn1==0.1.7
pycrypto==2.6.1
pycurl==7.19.0
pygpgme==0.3
pyliblzma==0.5.3
pysolr==3.6.0
pystache==0.5.3
python-daemon==1.5.2
python-dateutil==2.1
PyYAML==3.10
requests==2.13.0
requests-oauthlib==0.8.0
rsa==3.4.1
simplejson==3.6.5
six==1.8.0
tweepy==3.5.0
urllib3==1.8.2
virtualenv==12.0.7
watson-developer-cloud==0.25.2
Werkzeug==0.12.1
yum-metadata-parser==1.1.4
