body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#container {
    height: 400px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.inputNav {
	margin: 8px auto;


}

/*.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}*/