<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" context="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>EverTweet</title>
    <meta name="description" content="Twitter Sentiment Analysis">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EverTweet</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href='/about'>About</a> </li>
                <li><input class="form-control inputNav" id="twitterHandle" placeholder="BarackObama"></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><input class="form-control inputNav" id="numTweets" placeholder="Number of Tweets: 10"></li>
            </ul>

           <!--  <ul class="nav navbar-nav navbar-right">
                <li><input data-provide="datepicker" class="form-control inputNav" id="startDate" placeholder="Start Date (01/21/2017)"></li>
                <li><input data-provide="datepicker" class="form-control inputNav" id="endDate" placeholder="End Date (04/24/2017)"></li>
            </ul> -->
        </div>
    </nav>
    <div id="container" style="height: 100%"></div>
    
    <script type="text/javascript" src="/static/javascripts/script.js"></script>
</body>

</html>